<div class="logado">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><img src="assets/images/travelplus-solid.png" alt="Travel Plus Turismo"></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link withRipple active" href="#/ofertas/ativas">Ativas</a>
          <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
          <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
          <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
          <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Travel Plus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
        <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
        <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <!--div class="alert error block"><b>Erro ao conectar com o banco de dados travelplustur.</b></div-->

          <div class="breadcrumb__box">
            <a href="#/ofertas" class="breadcrumb">Ofertas</a>
            Ativas
          </div>

          <div class="headline-title">
            <h1 class="mdl-typography--headline">Listagem de ofertas ativas</h1>
            <span for="ttNova" class="mdl-tooltip">Nova oferta</span>
            <a id="ttNova" href="#/ofertas/nova" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </a>           
          </div>
        
          <table ng-show="ofertasAtivas.ativas.length" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Título</th>
                <th>Data de publicação</th>
                <th>Expiração</th>
                <th>Valor</th>
                <th>Hotéis</th>
                <th>
                  Ações
                  <!--button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item mdl-menu__item--delete"><i class="material-icons">delete</i>Excluir selecionadas</li>
                  </ul-->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr id="{{oferta.id}}" ng-repeat="oferta in ofertasAtivas.ativas">
                <td class="mdl-data-table__cell--non-numeric">{{oferta.titulo}}</td>
                <td>02/11/2016</td>
                <td>{{oferta.data_expiracao | cmdate:'dd/MM/yyyy'}}</td>
                <td>{{oferta.preco | currency:'R$ ' }}</td>
                <td>{{oferta.hoteis.length || 0}}</td>
                <td>
                  <span for="tt{{oferta.id}}" class="mdl-tooltip">Visualizar oferta</span>
                  <a id="tt{{oferta.id}}" href="http://www.travelplustur.com.br/#/viagem/{{oferta.id}}" target="_blank" class="link-visibility mdl-js-ripple-effect">
                    <i class="material-icons">visibility</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <span for="tt1{{oferta.id}}" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt1{{oferta.id}}" href="#/oferta/{{oferta.id}}" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt2{{oferta.id}}"  href="" ng-click="remove(oferta.id)" class="link-delete mdl-js-ripple-effect">
                    <span for="tt2{{oferta.id}}" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
