<div class="logado">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><img src="assets/images/travelplus-solid.png" alt="Travel Plus Turismo"></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas"><i class="material-icons">delete</i>Descartar</a>
          <a class="mdl-navigation__link withRipple" href=""><i class="material-icons">visibility</i>Visualizar</a>
          
          <a class="mdl-navigation__link withRipple" href="" ng-click="editar.sendRascunho(editar.form)"><i class="material-icons">drafts</i>Salvar rascunho</a>
          
          <button class="mdl-navigation__link withRipple btn-publish" onclick="$('[type=submit]').trigger('click')" ng-disabled="form__new.$invalid"><i class="material-icons">send</i>Publicar</button>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Travel Plus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
        <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
        <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
            <div class="breadcrumb__box">
              <a href="#/ofertas" class="breadcrumb">Ofertas</a>
              Editar
            </div>
            
            <div class="headline-title">
              <h1 class="mdl-typography--headline">Cadastre uma nova oferta</h1>           
            </div>
            <div class="mdl-content-white mdl-cell mdl-cell--12-col">
              <form name="form__new" ng-submit="editar.sendData(editar.form)" class="form__new mdl-grid" novalidate>
                <input type="hidden" ng-model="editar.form.rascunho" ng-init="editar.form.rascunho=false">
                <div class="mdl-cell mdl-cell--12-col">
                  <h2 class="mdl-typography--title">Destino</h2>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input ng-model="editar.form.titulo" class="mdl-textfield__input" type="text" id="sample1" maxlength="100" required>
                    <label class="mdl-textfield__label" for="sample1">Título</label>
                    <span class="mdl-textcounter">{{100 - editar.form.titulo.length}}</span>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input ng-model="editar.form.descricao_oferta" class="mdl-textfield__input" type="text" id="sample2" maxlength="250" required>
                    <label class="mdl-textfield__label" for="sample2">Descrição da oferta</label>
                    <span class="mdl-textcounter">{{250 - editar.form.descricao_oferta.length}}</span>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input ng-model="editar.form.descricao_destino" class="mdl-textfield__input" type="text" id="sample3" maxlength="250" required>
                    <label class="mdl-textfield__label" for="sample3">Descrição do destino</label>
                    <span class="mdl-textcounter">{{250 - editar.form.descricao_destino.length}}</span>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input ng-model="editar.form.preco" class="mdl-textfield__input" type="text" id="sample4" required reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                    <label class="mdl-textfield__label" for="sample4">Preço</label>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-js-textfield--date mdl-textfield--floating-label">
                    <input ng-model="editar.form.data_expiracao" value="editar.form.data_expiracao" ng-class="{'mdl-js-textfield--dateNull': !editar.form.data_expiracao.length}" ng-focus="editar.datepicker(editar.form.data_expiracao)" ng-blur="editar.datepicker(editar.form.data_expiracao)" class="mdl-textfield__input" type="date" id="sample5" required>
                    <label class="mdl-textfield__label" for="sample5">Data da expiração</label>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input ng-model="editar.form.identificacao_parceiro" class="mdl-textfield__input" type="text" id="sample6" maxlength="100" required>
                    <label class="mdl-textfield__label" for="sample6">Identificação do parceiro</label>
                    <span class="mdl-textcounter">{{100 - editar.form.identificacao_parceiro.length}}</span>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <input id="ifDestino" class="hidden" type="file" accept="image/*" ng-model="editar.form.foto_destino" valid-file required>
                  <label for="ifDestino" class="mdl-button mdl-button-up  mdl-js-button mdl-button--raised mdl-button--colored">
                    <i class="material-icons">photo</i>
                    <span ng-show="!editar.form.foto_destino">Inserir foto do destino</span>
                    <span ng-show="editar.form.foto_destino">Mudar foto do destino</span>
                  </label>
                  <img ng-show="editar.form.foto_destino" class="img-preview-filename" src="{{editar.form.foto_destino}}" width="100%">
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                  <h2 class="mdl-typography--title">Hotéis</h2>
                </div>
                
                <div class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[0].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[0].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[0].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[0].foto_hotel" valid-file>
                    <label for="ifHotel" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[0].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[0].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[0].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[0].foto_hotel}}" width="50%">
                  </div>
                </div>
                <div ng-show="editar.form.hoteis[1].nome_hotel.length || editar.form.hoteis[1].preco_hotel.length || editar.form.hoteis[1].foto_hotel.length" class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[1].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[1].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[1].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel2" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[1].foto_hotel" valid-file>
                    <label for="ifHotel2" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[1].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[1].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[1].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[1].foto_hotel}}" width="50%">
                  </div>
                </div>
                <div ng-show="editar.form.hoteis[2].nome_hotel.length || editar.form.hoteis[2].preco_hotel.length || editar.form.hoteis[2].foto_hotel.length" class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[2].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[2].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[2].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel3" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[2].foto_hotel" valid-file>
                    <label for="ifHotel3" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[2].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[2].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[2].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[2].foto_hotel}}" width="50%">
                  </div>
                </div>
                <div ng-show="editar.form.hoteis[3].nome_hotel.length || editar.form.hoteis[3].preco_hotel.length || editar.form.hoteis[3].foto_hotel.length" class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[3].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[3].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[3].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel4" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[3].foto_hotel" valid-file>
                    <label for="ifHotel4" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[3].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[3].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[3].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[3].foto_hotel}}" width="50%">
                  </div>
                </div>
                <div ng-show="editar.form.hoteis[4].nome_hotel.length || editar.form.hoteis[4].preco_hotel.length || editar.form.hoteis[4].foto_hotel.length" class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[4].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[4].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[4].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel5" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[4].foto_hotel" valid-file>
                    <label for="ifHotel5" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[4].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[4].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[4].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[4].foto_hotel}}" width="50%">
                  </div>
                </div>
                <div ng-show="editar.form.hoteis[5].nome_hotel.length || editar.form.hoteis[5].preco_hotel.length || editar.form.hoteis[5].foto_hotel.length" class="hotelBox mdl-cell mdl-cell--6-col">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[5].nome_hotel" class="mdl-textfield__input" type="text" id="sample7" maxlength="100">
                      <label class="mdl-textfield__label" for="sample7">Nome do hotel</label>
                      <span class="mdl-textcounter">{{100 - editar.form.hoteis[5].nome_hotel.length}}</span>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input ng-model="editar.form.hoteis[5].preco_hotel" class="mdl-textfield__input" type="text" id="sample8" reverse="true" mask-money decimal="," thousands="." affixes-stay="false" prefix="'R$ '" maxlength="14">
                      <label class="mdl-textfield__label" for="sample8">Preço do hotel</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                    <input id="ifHotel6" class="hidden" type="file" accept="image/*" ng-model="editar.form.hoteis[5].foto_hotel" valid-file>
                    <label for="ifHotel6" class="mdl-button mdl-button-up mdl-js-button mdl-button--raised mdl-button--colored">
                      <i class="material-icons">photo</i>
                      <span ng-show="!editar.form.hoteis[5].foto_hotel">Inserir foto do hotel</span>
                      <span ng-show="editar.form.hoteis[5].foto_hotel">Mudar foto do hotel</span>
                    </label>
                    <img ng-show="editar.form.hoteis[5].foto_hotel" class="img-preview-filename" src="{{editar.form.hoteis[5].foto_hotel}}" width="50%">
                  </div>
                </div>

              
                <div class="mdl-cell mdl-cell--12-col beforeHotel">
                  <div class="box-more__hotel" ng-click="editar.addHotel()">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                      <i class="material-icons">add</i>
                    </button> Adicionar outro hotel
                  </div>                  
                </div>


                <input type="submit" class="hidden">
              </form>
            </div>
        </div>
      </div>
    </main>
  </div>
</div>