<div class="logado">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Travel Excellence</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
          <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
          <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
          <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
          <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Travel Excellence</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
        <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
        <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <!--div class="alert error block"><b>Erro ao conectar com o banco de dados travelplustur.</b></div-->

          <div class="breadcrumb__box">Ofertas</div>
          
          <div class="headline-title">
            <h1 class="mdl-typography--headline">Utilização</h1>
            <span for="ttNova" class="mdl-tooltip">Nova oferta</span>
            <a href="#/ofertas/nova" id="ttNova" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </a>           
          </div>

          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th>Quantidade</th>
                <th>Última modificação</th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="#/ofertas/ativas">Ativas</a></td>
                <td>{{ofertas.ativas}}</td>
                <td>02/11/2016</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="#/ofertas/rascunhos">Rascunhos</a></td>
                <td>{{ofertas.rascunhos}}</td>
                <td>02/11/2016</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><a href="#/ofertas/expiradas">Expiradas</a></td>
                <td>{{ofertas.expiradas}}</td>
                <td>31/08/2016</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>