<div class="logado">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><img src="assets/images/travelplus-solid.png" alt="Travel Plus Turismo"></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link withRipple" href="">Ativas</a>
          <a class="mdl-navigation__link withRipple" href="">Rascunhos</a>
          <a class="mdl-navigation__link withRipple" href="">Expiradas</a>
          <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
          <a class="mdl-navigation__link withRipple" href="" ng-click="ofertas.logOff()">Sair</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Travel Plus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link withRipple" href="">Ativas</a>
        <a class="mdl-navigation__link withRipple" href="">Rascunhos</a>
        <a class="mdl-navigation__link withRipple" href="">Expiradas</a>
        <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
        <a class="mdl-navigation__link withRipple" href="" ng-click="ofertas.logOff()">Sair</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <!--div class="alert error block"><b>Erro ao conectar com o banco de dados travelplustur.</b></div-->

          <div class="breadcrumb__box">
            <a href="" class="breadcrumb">Ofertas</a>
            Ativas
          </div>
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Título</th>
                <th>Data de publicação</th>
                <th>Expiração</th>
                <th>Valor</th>
                <th>Hotéis</th>
                <th>
                  Ações
                  <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item mdl-menu__item--delete"><i class="material-icons">delete</i>Deletar selecionadas</li>
                  </ul>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt1" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt1" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt2"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt2" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt12" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt12" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt21"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt21" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt13" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt13" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt22"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt22" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt14" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt14" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt23"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt23" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt15" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt15" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt24"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt24" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt16" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt16" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt25"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt25" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt17" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt17" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt26"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt26" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt18" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt18" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt27"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt27" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt19" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt19" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt28"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt28" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Pacote de viagens para o nordeste 3 noites</td>
                <td>12/09/2016</td>
                <td>12/12/2016</td>
                <td>R$ 2.200,00</td>
                <td>4</td>
                <td>
                  <span for="tt110" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt110" href="" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt29"  href="" title="Excluir oferta" class="link-delete mdl-js-ripple-effect">
                    <span for="tt29" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>