<div class="logado">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><img src="assets/images/travelplus-solid.png" alt="Travel Plus Turismo"></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
          <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
          <a class="mdl-navigation__link withRipple active" href="#/ofertas/expiradas">Expiradas</a>
          <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
          <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Travel Plus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link withRipple" href="#/ofertas/ativas">Ativas</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/rascunhos">Rascunhos</a>
        <a class="mdl-navigation__link withRipple" href="#/ofertas/expiradas">Expiradas</a>
        <a class="mdl-navigation__link withRipple" href="http://travelplustur.com.br" target="_blank">Abrir o site</a>
        <a class="mdl-navigation__link withRipple" href="" ng-click="logOff()">Sair</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <!--div class="alert error block"><b>Erro ao conectar com o banco de dados travelplustur.</b></div-->

          <div class="breadcrumb__box">
            <a href="#/ofertas" class="breadcrumb">Ofertas</a>
            Expiradas
          </div>

          <div class="headline-title">
            <h1 class="mdl-typography--headline">Listagem de ofertas expiradas</h1>
            <span for="ttNova" class="mdl-tooltip">Nova oferta</span>
            <a id="ttNova" href="#/ofertas/nova" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </a>           
          </div>

          <table ng-show="ofertasExpiradas.expiradas.length" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Título</th>
                <th>Data de publicação</th>
                <th>Expirada em</th>
                <th>Valor</th>
                <th>Hotéis</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr id="{{oferta.id}}" ng-repeat="oferta in ofertasExpiradas.expiradas">
                <td class="mdl-data-table__cell--non-numeric">{{oferta.titulo}}</td>
                <td>12/09/2016</td>
                <td>{{oferta.data_expiracao | cmdate:'dd/MM/yyyy'}}</td>
                <td>{{oferta.preco}}</td>
                <td>{{oferta.hoteis.length || 0}}</td>
                <td>
                  <span for="tt1{{oferta.id}}" class="mdl-tooltip">Editar oferta</span>
                    <a id="tt1{{oferta.id}}" href="#/oferta/{{oferta.id}}" class="link-edit mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                    <span class="mdl-ripple"></span>
                  </a>
                  <a id="tt2{{oferta.id}}"  href="" ng-click="remove(oferta.id)" class="link-delete mdl-js-ripple-effect">
                    <span for="tt2{{oferta.id}}" class="mdl-tooltip">Excluir oferta</span>
                    <i class="material-icons">delete</i>
                    <span class="mdl-ripple"></span>
                  </a>
                </td>
              </tr>             
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>